@mixin box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin icon-button($size:40px) {
    height: $size;
    width: $size;
    border-radius: 50%;
    background-color: #eeeeee;
    color: #1657CB;
    @include box-center
}

.job-list {
    &__item {
        padding: 30px 20px;
        position: relative;
        border: 1px solid #7FD5E8;

        &-fulltimebg {
            background: #f2fbfd;
        }

        &-parttimebg {
            background: #fefbeb;
        }

        &--head {
            margin-bottom: 20px;
        }

        &--name {
            text-decoration: none;
            color: #0088CC;
            font-size: 16px;
            margin-right: 7px;
        }

        &--parttime {
            background: #FAAB78;

            position: absolute;
            right: 0;
            top: 15px;
            font-weight: 500;
            color: white;
            border-radius: 4px 0px 0px 4px;
            padding: 0 5px;
        }

        &--fulltime {
            background: #BCCEF8;

            position: absolute;
            right: 0;
            top: 15px;

            font-weight: 500;
            color: #eee;
            border-radius: 4px 0px 0px 4px;
            padding: 0 5px;
        }

        &--employer {
            display: flex;
        }

        &--rating {
            margin-right: 5px;
        }

        &--info {
            display: flex;
            width: 100%;
            background: #d9f3f9;
            border-radius: 5px;
            @include box-center;
            justify-content: space-between;
            padding: 10px 20px;
            font-size: 14px;
        }

        &--due {
            margin: 0;
        }

        &--des {
            font-size: 15px;
            line-height: 24px;
            margin: 10px 0px;
        }

        &--skill {
            display: flex;

            p {
                font-size: 13px;
                line-height: 14px;
                padding: 3px 5px;
                background-color: #08C;
                color: #fff;
                border-radius: 3px;
                margin-right: 6px;
                cursor: pointer;
            }
        }
    }
}